@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 8px;
  padding: 10px;
}
.firsth {
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
.first-div {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 11px;
  height: 311.138px;
  width: 688.8px;
}
.xr {
  margin-bottom: 5px;
  padding: 18px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  height: 50px;
  width: 463px;
}
.iphone11 {
  margin-bottom: 5px;
  padding: 18px;
  background-color: rgb(173, 216, 230);
  color: rgb(0, 0, 0);
  height: 50px;
  width: 373px;
}
.a10 {
  margin-bottom: 5px;
  padding: 18px;
  background-color: rgb(255, 228, 196);
  color: rgb(0, 0, 0);
  height: 50px;
  width: 303px;
}
.a50 {
  margin-bottom: 5px;
  padding: 18px;
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
  height: 50px;
  width: 242px;
}
.a20 {
  margin-bottom: 5px;
  padding: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 50px;
  width: 192px;
}
